#small-button2 {
  line-height: 22px;
  min-width: 50px;
  padding: 0px 11px;
  margin-bottom: 8px;
}

a {
  color: rgb(34, 170, 248);
}
stores-list input {
  width: 300px;
}

prices-list .mat-select-placeholder.mat-floating-placeholder {
  top: 2px;
  left: -50px;
}


.top-admin-controls {
  padding-top: 20px;
}

.mat-select {
  border: 1px solid rgb(139, 139, 238);
  padding: 2px;
}

.input-width-50.mat-select {
  width: 50%;
}

.input-width-20.mat-select {
  width: 20%;
}
.input-width-40 {
  width: 40%;
}
.input-width-60 {
  width: 60%;
}

.font-size-24 {
  font-size: 20px;
}

#small-button-abs {
  line-height: 22px;
  min-width: 50px;
  padding: 0 11px;
  position: absolute;
}

#abso {
  position: absolute;
}

.grey-background {
  background-color: #6c6c6c;
}