img.h100 {
  height: 100px;
}

img.w40 {
  width: 40px;
}

.bottom-border {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: rgb(47, 85, 255);
}

.light-blue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.dark-slate-gray  {
  color: #FFFFFF;
  background-color: #2F4F4F;
}

.light-green {
  background-color: lightgreen;
}
