<mat-toolbar color="primary" class="header-toolbar"  *ngIf="showTopToolbar">

  <span (click)="SIDENAV.open()">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
  </span>


  <span> {{reactiveTitle}} </span>

  <span class="fill-remaining-space"></span>

  <span class="go-right">

    <div *ngIf="!isLoggedIn">
      <a mat-button [routerLink]="['/login']" >Login</a>
      <a mat-button [routerLink]="['/signup']">Sign up</a>
    </div>


    <span *ngIf="isLoggedIn">
      {{email}} &nbsp; &nbsp;

      <mat-icon [routerLink]="['/']" [ngStyle]="isCurrent('HOME')" class="font-30">home</mat-icon>
      &nbsp;
      <mat-icon (click)="setCustomLocation()" class="font-30">edit_location</mat-icon>
      &nbsp;
    </span>

  </span>


</mat-toolbar>