<div layout="row" layout-wrap layout-align="start start" class="top-admin-controls">
  <div flex="50">
    <form [formGroup]="itemsForm">
      Name: <input [(ngModel)]="searchName"
                   formControlName="name"
                   placeholder="enter name to search for..."
                   type="text"
                   class="input-width-80">

      <br /> Size: <input [(ngModel)]="searchSize"
                   formControlName="size"
                   placeholder="enter size to search for..."
                   type="text"
                   class="input-width-50">
                   
     <br/>Unit: <mat-select
                   class="input-width-50" 
                   formControlName="unit" 
                   name="xunit">
                 <mat-option *ngFor="let xunit of unitsList" [value]="xunit.value">
                   {{xunit.viewValue}}
                 </mat-option>
               </mat-select>
    </form>
  </div>

  <div flex="30">
    <form [formGroup]="filterByForm">

      <mat-select  placeholder="Sort by" formControlName="value" [(ngModel)]="filterByValue" >
        <mat-option *ngFor="let item of filterByLists" [value]="item.value">{{item.viewValue}}</mat-option>
      </mat-select>

      <br/>Category: <mat-select
        class="input-width-50" 
        formControlName="category" 
        name="xcat">
        <mat-option *ngFor="let xcat of categories" [value]="xcat.value">
          {{xcat.value}}
        </mat-option>
      </mat-select>

    </form>

  </div>

  <div flex="20">
      &nbsp; &nbsp; &nbsp; <button (click)="applyFilter()"> SEARCH </button> 
  </div>

</div>

<div class="center-stuff">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }">.....</div>
  <pagination-controls (pageChange)="getItemsParent($event)" id="allItems"></pagination-controls>
</div>

<hr>

<span *ngIf="apolloItemsCount | async | select: 'apItemsCount'"></span>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Units</th>
    <th>Qty</th>
    <th>Image</th>
    <th>Category</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let item of apolloItems | async | paginate: { id: 'allItems', itemsPerPage: pageSize, currentPage: p, totalItems: total }">
    <td> {{item.name}} </td>
    <td> {{item.size}}</td>
    <td> {{item.unit}}</td>
    <td> {{item.quantity}}</td>

    <td (click)="toggleMeFunc(item._id)">
      <span *ngIf="!toggleMe[item._id]"> <img class="h100" src="{{item.image}}"> </span> 
      <span *ngIf="toggleMe[item._id]"> <img src="{{item.image}}"> </span> 
    </td>

    <td> {{item.category}} </td>

    <td>
      <span  *ngIf="!toggleMe[item._id]">
        <a mat-raised-button id="small-button2" color="accent" (click)="updateItemInfo(item, 'freshproduce')"  >Fresh <br /> Produce</a>  &nbsp; 
        <a mat-raised-button id="small-button2" color="warn" (click)="updateItemInfo(item, 'frozenproduce')">Frozen <br /> Produce</a>  &nbsp;  
        <a mat-raised-button id="small-button2" color="primary" (click)="updateItemInfo(item, 'freshmeats')">Fresh <br /> Meat</a> &nbsp;   
        <a mat-raised-button id="small-button2" (click)="updateItemInfo(item, 'frozenmeats')">Frozen <br /> Meat</a> &nbsp;   
        <a mat-raised-button id="small-button2" color="accent" (click)="updateItemInfo(item, 'dairy')">Dairy</a> &nbsp;   
        <a mat-raised-button id="small-button2" color="warn" (click)="updateItemInfo(item, 'seedsnuts')">Nuts <br /> Seeds</a> &nbsp;   
        <a mat-raised-button id="small-button2" (click)="updateItemInfo(item, 'bread')">Bread <br /> Pastries</a> &nbsp;   
        <a mat-raised-button id="small-button2" color="primary" i (click)="updateItemInfo(item, 'household')">Soap <br /> Shave </a> &nbsp;   
        <a mat-raised-button id="small-button2" (click)="updateItemInfo(item, 'alcohol')"  >Alcohol</a>  &nbsp; 
        <a mat-raised-button id="small-button2" color="warn" (click)="updateItemInfo(item, 'medical')">Medical</a>  &nbsp; 
        <a mat-raised-button id="small-button2" color="primary" (click)="updateItemInfo(item, 'baby')"  >Baby</a>  &nbsp; 
        <a mat-raised-button id="small-button2" (click)="updateItemInfo(item, 'grocery')"  >Grocery</a>  &nbsp; 
      </span> 
    </td>

  </tr>

</table>


<div class="center-stuff">
  <div class="spinner" [ngClass]="{ 'hidden': !loading }">.....</div>
  <pagination-controls (pageChange)="getItemsParent($event)" id="allItems"></pagination-controls>
</div>

<br /><br />
